<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete Form</title>
</head>
<body>
    <h2> You are about this user : <%= user.email %> </h2>
    <form method="post" action="/user/<%= user.id %>/remove?_method=PATCH">
        <input type="password" name="password" placeholder="Enter the Password">
        <button>delete</button>
    </form>
</body>
</html>